h2{
    width: auto;
    height: 50px;
    text-align: center;
    color: brown;
    background-color: lavender;
    padding: 20px;
}
.Edetails > ul > li{
    list-style: none;
    border: 1px solid;
    margin: 3px;
    padding: 4px;
    width: 200px;
}
.Edetails{
    border: 1px solid;
    width: 200px;
    margin: 2px;
    padding: 3px;
}
li{
    list-style: none;
}
.Edetails > ul {
    margin: 3px;
    padding: 2px;
}
img{
    width: 100px;
    height: 100px;
}