body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(242, 217, 135);
    text-align: center; 
    font-size: 30px;
}
#number{
    font-size: 50px;
    color: rgba(223, 32, 32, 0.881);
}
#buttons{
    border: none;
    font-size: 25px;
    color: rgba(17, 117, 194, 0.929);
    display: inline-block;
    border: 1px solid;
    border-radius: 20px;
    width: 50px;
    height: 50px;
}
#start{
    margin-right: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(9, 109, 99);
    height: 80px;
    width: 80px;
    font-size: 30px;
    border-radius: 5mm;
}
#text{
    color: rgb(18, 22, 240);
    font-size: 35px;    
}